{% import'@NeoxDashBoardBundle/_Partials/macro/neox_macro.twig' as neox_macro %}
{% if NeoxDashClass %}
    {## sort data section by position #}
    {% set NeoxSections = NeoxDashClass.NeoxDashSections|sort((a, b) => a.position <=> b.position) %}

    <ul
        class="nav nav-tabs mb-4 bg-opacity-50 bg-white" id="myTab" role="tablist">
        {# Item Title ============== #}
        {{ neox_macro.navItemBottom(NeoxDashClass, 'white', 'bg-dark') }}

        {# Item TABS Title ========= #}
        {% for section in NeoxSections %}
            {% if section %}
                {{ neox_macro.navItemBottomHeader(section, NeoxDashClass, loop) }}
            {% endif %}
        {% endfor %}

        {# Item ADD Tab Title ======== #}
        {{ neox_macro.navItemBottomStd(NeoxDashClass, "plus", 'green') }}

        {# Item Main Menu ========= #}
        {{ neox_macro.navItemMenu(NeoxDashClass) }}

    </ul>
    <div class="tab-content" id="myTabContent">
        {% for section in NeoxSections %}
            {% include'@NeoxDashBoardBundle/_Partials/_dashBoardContentBuild.html.twig' %}
        {% endfor %}
    </div>
{% endif %}


