{% extends 'base.html.twig' %}

{% block title %}New NeoxDashSetup{% endblock %}

{% block body %}
    <h1>Create new NeoxDashSetup</h1>

    {{ include('@NeoxDashBoardBundle/neox_dash_class/_form.html.twig') }}

    <a href="{{ path('app_neox_dash_class_index') }}">back to list</a>
{% endblock %}
