<button class="btn btn-primary fixed-bottom-right" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    Fast menu
</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            {% for class in NeoxDashSetup.class %}
                <a href="#live-NeoxDashBoardContent@{{ class.id }}" class="list-group-item list-group-item-action scroll-link">{{ class.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>



