
<turbo-frame id="NeoxDashControl" >
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .loader {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed to the center of the screen */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Center the image */
            z-index: 99999; /* Ensure it is above other elements */
        }

        .loader img {
            width: 100%; /* Make the image responsive to the loader's size */
            opacity: 1; /* Fully opaque */
        }

        .no-select {
            -webkit-user-select: none; /* Safari and Chrome */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Standard */
        }

        /* Apply to the entire body during loading */
        .body-loading {
            opacity: 0.5 !important; /* Opacity for the body to indicate loading */
            pointer-events: none; /* Disable all mouse events */
            position: relative; /* Ensures that the body respects stacking context */
            z-index: 500; /* Lower z-index than loader */
        }

        .drag-hover {
            border: 0.5px dashed #cb932b;
            background-color: #8dc05e;
        }

        .dragging {
            opacity: 0.5;
        }

        .dropzone {
            border: 2px dashed #ccc;
            padding: 5px;
            transition: background-color 0.3s ease;
        }

        .dropzone-hover-false {
            background-color: #d34532; /* Couleur de survol */
            border: 2px dashed #a38a23;
        }

        .dropzone-hover {
            background-color: #23ff00; /* Couleur de survol */
            border: 2px dashed #0b4903;
        }

        .dropzone-valid {
            background-color: #d4edda; /* Vert clair pour une URL valide */
            border-color: #28a745;
        }

        .dropzone-invalid {
            background-color: #f8d7da; /* Rouge clair pour une URL invalide */
            border-color: #dc3545;
        }

    </style>
    <div id="loader" class="loader">
        <img src="{{ asset('bundles/neoxdashboard/images/Infinity.gif') }}" alt="Loading...">
    </div>
    <div id="loading"
        {{
            stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_drag_drop') |
            stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_modal')
        }}

    >
        <twig:NeoxDashBoard :NeoxDashSetup="NeoxDashSetup" id="live-NeoxDashBoard" />
    </div >

</turbo-frame >


