
<turbo-frame id="NeoxDashControl" loading="lazy" >

    <div id="loader" class="loader" style="display: none;">
        <img src="{{ asset('@neoxDashBoardAssets/images/Infinity.gif') }}" alt="Loading...">
    </div>
    <div id="loading" class=""
        {{
            stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_drag_drop') |
            stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_modal') |
            stimulus_controller('@xorgxx/neox-dashboard-bundle/neox_core_event')
        }}

    >
        <twig:NeoxDashBoard :NeoxDashSetup="NeoxDashSetup" id="live-NeoxDashBoard" />
    </div >

</turbo-frame >


