<div class=" sticky-top">
    {% include '@NeoxDashBoardBundle/_Partials/header/Inc-Header.html.twig' %}
</div>

<div class="container">
{#    <div class="accordion" id="accordionExample">#}
        {% for class in  NeoxDashClass %}
            <turbo-frame id="dashboard-{{ class.type.value }}">
                <twig:NeoxDashBoard :NeoxDashClass="class"/>
            </turbo-frame>
        {% endfor %}
{#    </div>#}
</div>


