<div class="d-flex justify-content-between align-items-center mb-3 px-2 rounded-bottom "
    style="background-color : {{ class.headerColor|default('darkolivegreen') }}36" >
    {% if classCurrant.type.value is not same as("Tools") %}
        {# ====== MENU STANDART ======     #}
        {{ include('@NeoxDashBoardBundle/neox_favorite/_Partials/_MenuEditionStandart.html.twig') }}

    {% elseif classCurrant.type.value is same as("Tools") %}
        {# ====== MENU TOOLS WIDGET======     #}
        {{ include('@NeoxDashBoardBundle/neox_favorite/_Partials/_MenuEditionWidget.html.twig') }}
    {% else %}
        {% if classCurrant.publish  %}
            <h5 class="text-white-50">Opps !! Tools bar 🦖🦖 by Xorg </h5>
        {% endif %}
    {% endif %}
</div >

