<div {{ attributes }}>
    {% if NeoxDashClass.mode.value|default('Tabs') == 'Accordion' %}
        {% include '@NeoxDashBoardBundle/_Partials/_buildAccord.html.twig' %}
    {% elseif NeoxDashClass.mode.value|default('Tabs') == 'Tabs' %}
        {% include '@NeoxDashBoardBundle/_Partials/_buildTabs.html.twig' %}
    {% else %}
        {% include '@NeoxDashBoardBundle/_Partials/_buildTabs.html.twig' %}
    {% endif %}
</div>





