<div {{ attributes }}>
    {% if NeoxDashClass.mode == 'accord' %}
        {% include '@NeoxDashBoardBundle/_Partials/_TabsAccord.html.twig' %}
    {% elseif NeoxDashClass.mode == 'simple' %}
        {% include '@NeoxDashBoardBundle/_Partials/_Tabs.html.twig' %}
    {% else %}
        {% include '@NeoxDashBoardBundle/_Partials/_Tabs.html.twig' %}
    {% endif %}
</div>





